/* ********** VARIABLES ********* */

:root{
    --color-primario:#13a8fe;
    --color-primario-oscuro:#0371b0;
    --color-secundario: #ff00ff;
    --color-terciario: #ffa300;
    --color-adicional: #cf0060;
    --color-fondo: #000045;
    --color-blanco: #fff;
    --color-negro: #000;
    --color-gris100: #f4f4f4;
    --color-gris200: #efefef;
    --color-gris300: #767676;
    --color-gris400: #111111;
    --color-verde-neon: #2ef8a0;
    --color-rojo-neon: #f82e86;
    --color-texto: #1d1d1f            
}

@font-face {
    font-family: 'MuseoModerno';
    src: url(fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Codystar';
    src: url(fonts/Codystar/Codystar-Regular.ttf);
}
@font-face {
    font-family: 'cube';
    src: url(fonts/cube/Cube.ttf);
}
@font-face {
    font-family: 'neon';
    src: url(fonts/neon/Neon.ttf);
}
@font-face {
    font-family: 'rampart';
    src: url(fonts/Rampart_One/RampartOne-Regular.ttf);
}

/*! ********** GENERALES ********* */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: var(--color-blanco);
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

h1, h2, h3{
    line-height: 1.2;
    font-weight: 600;
    color: var(--color-texto);
    text-align: center;
}

h1{
    font-size: 48px;
    margin-top:  10px;
}

h2{
     font-size: 24px;
}

h3{
    font-size: 21px;
    font-weight: 400;
    color: var(--color-gris300);
    margin-top: .5em;
}

img{
    width: 100%;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
}

.text-container{
    flex-direction: column;
}


/*! ********** Estilos de GRID ********** */

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    height: 100%;
}

.grid div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.span5{
    grid-column: span 5;
}

.span6{
    grid-column: span 6;
}

.span7{
    grid-column: span 7;
}

.span9{
    grid-column: span 9;
}

.span12{
    grid-column: span 12;
}

/*? ********** Menú de Navegación ********** */

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
}

nav .enlaces{
    position: relative;
    height: 100%;
    padding: 0 22px;
    margin: 0 auto;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .enlaces img{
    width: 16px;
}

nav .enlaces a{
    color: #f5f5f7;
    font-size: 14px;
    padding: 0 10px;
    opacity: .5;
    cursor: pointer;
    transition: all .5s;
}

nav .enlaces a:hover{
    opacity: 1;
}

/********* Header **********/

header{
    width: 100%;
    height: calc(100vh - 44px);
    margin: 44px 0 0 0;
    background: #f2f2f2;
}

header img{
    width: 80%;
}

header .text-container{
    padding: 30px 0 0 0;
    justify-content: flex-end !important;
}

header .img-container{
    align-items: flex-end !important;
}

/*********** Servicios *********/

.service{
    background: url(img/image2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.service::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
}

.service .grid{
    width: 85%;
    margin: 0 auto;
}

.service .contenedor{
    flex-direction: column;
    z-index: 1;
}

.service img{
    width: 250px;
    height: 250px;
    margin: 25px 0;
}

.service .text-container{
    width: 60%;
    text-align: center;
}

.service .text-container h2{
    color: var(--color-blanco);
    font-size: 28px;
    font-weight: 400;
}